body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf0e6;
}

header {
    background-color:  #654321;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 3em;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

#searchBar {
    width: 230px;
    margin-top: 3px;
    margin-left: 15px;
    transition: width 0.3s ease;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar-search-button {
    cursor: pointer;
    background-color: #A67B5B;
    height: 33px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 17px;
}

.search-bar-search-button:hover {
    background-color: #3D2B1F
}

.search-bar-search-button svg {
    color: #fff;
}

.search-bar input {
    width: 230px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    padding-left: 45px;
    font-size: 15px;
    transition: width 0.3s ease;
}

.logo-and-searchbar {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li input {
    padding: 0.5em;
    border: none;
    border-radius: 4px;
}

.hero {
    position: relative;
    background-image: url('static/backgroundhome.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 8em 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 2em;
    border-radius: 8px;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    margin: 2em 0;
}

.hero .btn {
    background-color: #FFD700;
    color: black;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}


.categories {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

.category {
    text-align: center;
}

.category img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.category .btn {
    display: block;
    margin: 1em 0;
    background-color:  #654321;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background-color:  #654321;
    color: white;
    text-align: center;
    padding: 0.2em 0;
    
}
